 @inject Microsoft.AspNetCore.Http.IHttpContextAccessor _httpContextAccessor;

@{
    var user = _httpContextAccessor.HttpContext.User;
    var isAuthenticated = user.Identity.IsAuthenticated;
    var isAdmin = user.IsInRole("Admin");
    var isUser = user.IsInRole("User");
    var email = "caohao2003@gmail.com";
    var phone = "0587171424";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TestGiaoDien</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TestGiaoDien.styles.css" asp-append-version="true" />

    <link rel="apple-touch-icon" href="assets/img/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">

    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/templatemo.css">
    <link rel="stylesheet" href="~/assets/css/custom.css">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="~/assets/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />

</head>
<body>
    <header>
        <!-- Start Top Nav -->
        <nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
            <div class="container text-light">
                <div class="w-100 d-flex justify-content-between">
                    <div>
                        <i class="fa fa-envelope mx-2"></i>
                        <a class="navbar-sm-brand text-light text-decoration-none" href="mailto:@email">@email</a>
                        <i class="fa fa-phone mx-2"></i>
                        <a class="navbar-sm-brand text-light text-decoration-none" href="tel:@phone">@phone</a>
                    </div>
                    <div>
                        <a class="text-light" href="https://www.facebook.com/hao.nhut.7946/" target="_blank"><i class="fab fa-facebook-f fa-sm fa-fw me-2"></i></a>
                        <a class="text-light" href="https://www.instagram.com/hao.nhut.7946/" target="_blank"><i class="fab fa-instagram fa-sm fa-fw me-2"></i></a>
                        <a class="text-light" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter fa-sm fa-fw me-2"></i></a>
                        <a class="text-light" href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin fa-sm fa-fw"></i></a>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Close Top Nav -->
        <!-- Header -->
        <nav class="navbar navbar-expand-lg navbar-light shadow">
            <div class="container d-flex justify-content-between align-items-center">
                <a class="navbar-brand text-success logo h1 align-self-center" href="/">
                    Zay
                </a>

                <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
                    <div class="flex-fill">
                        <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Trang chủ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="GioiThieu" asp-action="Index">Giới Thiệu</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="LoadSanPham" asp-action="Index">Sản phẩm</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="KetNoi" asp-action="Index">Liên hệ</a>
                            </li>
                        </ul>
                    </div>

                    <div class="navbar align-self-center d-flex">
                        @if (!isAuthenticated)
                        {
                             <a class="nav-icon position-relative text-decoration-none" asp-area="" asp-controller="Home" asp-action="Login">
                                <i class="fa fa-fw fa-cart-arrow-down text-dark mr-3"></i> Giỏ hàng của tôi
                            </a>

                            <a class="nav-icon position-relative text-decoration-none" asp-area="" asp-controller="Home" asp-action="Login">
                                <i class="fa fa-fw fa-user text-dark mr-3"></i> Đăng nhập
                            </a>
                        }
                        else if (isAdmin)
                        {
                            <a class="nav-icon position-relative text-decoration-none" asp-area="Admin" asp-controller="Home" asp-action="Index">
                                <i class="fa fa-fw fa-tools text-dark mr-3"></i> Quản trị
                            </a>
                        }
                        else if (isUser)
                        {
                            <a class="nav-icon position-relative text-decoration-none" asp-area="" asp-controller="GioHang" asp-action="Index">
                                <i class="fa fa-fw fa-cart-arrow-down text-dark mr-3"></i> Giỏ hàng của tôi
                            </a>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-user"></i> @user.Claims.FirstOrDefault(c => c.Type == "HoVaTen")?.Value
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="ThongTinNguoiDung" asp-action="Index">
                                            Thông tin tài khoản
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="ThongTinMuaHang" asp-action="Index">
                                            Thông tin mua hàng
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="KhachHang" asp-action="DoiMatKhau">
                                            Đổi mật khẩu
                                        </a>
                                    </li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li>
                                        <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Logout">
                                            Đăng xuất
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }
                    </div>
                </div>
            </div>
        </nav>
        <!-- Close Header -->

    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- Start Footer -->
    <footer class="bg-dark" id="tempaltemo_footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-success border-bottom pb-3 border-light logo">Zay</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li><i class="fas fa-map-marker-alt fa-fw"></i> 197 Long Xuyên An Giang</li>
                        <li><i class="fa fa-phone fa-fw"></i> <a class="text-decoration-none" href="tel:@phone">@phone</a></li>
                        <li><i class="fa fa-envelope fa-fw"></i> <a class="text-decoration-none" href="mailto:@email">@email</a></li>
                    </ul>
                </div>
                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-light border-bottom pb-3 border-light">Sản phẩm</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li><a class="text-decoration-none" href="#">Quần áo</a></li>
                        <li><a class="text-decoration-none" href="#">Giày</a></li>
                        <li><a class="text-decoration-none" href="#">Sản phẩm khác</a></li>
                    </ul>
                </div>
                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-light border-bottom pb-3 border-light">Thông tin thêm</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li><a class="text-decoration-none" href="#">Trang chủ</a></li>
                        <li><a class="text-decoration-none" href="#">Thông tin liên hệ</a></li>
                        <li><a class="text-decoration-none" href="#">Địa chỉ </a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="w-100 bg-black py-3">
            <div class="container">
                <div class="row pt-2">
                    <div class="col-12">
                        <p class="text-left text-light">Copyright &copy; 2021 Company Name | Designed by <a href="https://templatemo.com" target="_blank">TemplateMo</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <!-- Start Script -->
    <script src="assets/js/jquery-1.11.0.min.js"></script>
    <script src="assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/templatemo.js"></script>
    <script src="assets/js/custom.js"></script>
    <!-- End Script -->
</body>
</html>
