@model IEnumerable<WebBanHang.Models.SanPham>

@{
    ViewData["Title"] = "Danh Sách Sản Phẩm";
}
<div class="card">
    <h5 class="card-header">@ViewData["Title"]</h5>
    <div class="card-body">
        <p>
            <a asp-action="Create" class="btn btn-primary">
                Thêm mới
            </a>
        </p>
        <table class="table table-sm table-hover table-striped table-bordered mb-0">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.ID)</th>
                    <th>@Html.DisplayNameFor(model => model.TenSanPham)</th>
                    <th>@Html.DisplayNameFor(model => model.DonGia)</th>
                    <th>@Html.DisplayNameFor(model => model.SoLuong)</th>
                    <th>@Html.DisplayNameFor(model => model.KichCo)</th>
                    <th>@Html.DisplayNameFor(model => model.HinhAnh)</th>
                    <th>@Html.DisplayNameFor(model => model.MoTa)</th>
                    <th>@Html.DisplayNameFor(model => model.LoaiSanPham.TenLoai)</th>
                    <th>@Html.DisplayNameFor(model => model.HangSanXuat.TenHangSanXuat)</th>
                    <th width="5%">Sửa</th>
                    <th width="5%">Xóa</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.ID)</td>
                        <td>@Html.DisplayFor(modelItem => item.TenSanPham)</td>
                        <td class="text-end">@Html.DisplayFor(modelItem => item.DonGia)</td>
                        <td class="text-end">@Html.DisplayFor(modelItem => item.SoLuong)</td>
                        <td>@Html.DisplayFor(modelItem => item.KichCo)</td>
                        <td class="text-center">
                            <img src="~/uploads/@item.HinhAnh" width="60" class="img-thumbnail" />
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.MoTa)</td>
                        <td>@Html.DisplayFor(modelItem => item.LoaiSanPham.TenLoai)</td>
                        <td>@Html.DisplayFor(modelItem => item.HangSanXuat.TenHangSanXuat)</td>
                        <td class="text-center">
                            <a asp-action="Edit" asp-route-id="@item.ID">
                                Edit
                            </a>
                        </td>
                        <td class="text-center">
                            <a asp-action="Delete" asp-route-id="@item.ID">
                                Delete
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
