@model IEnumerable<WebBanHang.Models.SanPham>

<!-- Start Content -->
<div class="container py-5">
    <div class="row">

        <div class="col-lg-3">
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> c0fb83d (tam xong user)
            <h1 class="h2 pb-4">Danh mục sản phẩm</h1>
            <ul class="list-unstyled templatemo-accordion">
                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                        Áo Nam
                        <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
                    </a>
                    <ul class="collapse show list-unstyled pl-3">
                        <li><a class="text-decoration-none" href="#">Quần Short Thể Thao</a></li>
                        <li><a class="text-decoration-none" href="#">Áo Sơ Mi</a></li>
<<<<<<< HEAD
=======
=======
>>>>>>> 71b5da4b29821cdcf62ed5021b9245bc3f2a3f69
            <h1 class="h2 pb-4">Categories</h1>
            <ul class="list-unstyled templatemo-accordion">
                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                        Gender
                        <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
                    </a>
                    <ul class="collapse show list-unstyled pl-3">
                        <li><a class="text-decoration-none" href="#">Men</a></li>
                        <li><a class="text-decoration-none" href="#">Women</a></li>
<<<<<<< HEAD
>>>>>>> 71b5da4b29821cdcf62ed5021b9245bc3f2a3f69
=======
>>>>>>> 71b5da4b29821cdcf62ed5021b9245bc3f2a3f69
=======
>>>>>>> c0fb83d (tam xong user)
                    </ul>
                </li>
                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> c0fb83d (tam xong user)
                        Thời Trang Nữ
                        <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                    </a>
                    <ul id="collapseTwo" class="collapse list-unstyled pl-3">
                        <li><a class="text-decoration-none" href="#">Váy</a></li>
                        <li><a class="text-decoration-none" href="#">Đồ bộ</a></li>
<<<<<<< HEAD
=======
=======
>>>>>>> 71b5da4b29821cdcf62ed5021b9245bc3f2a3f69
                        Sale
                        <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                    </a>
                    <ul id="collapseTwo" class="collapse list-unstyled pl-3">
                        <li><a class="text-decoration-none" href="#">Sport</a></li>
                        <li><a class="text-decoration-none" href="#">Luxury</a></li>
<<<<<<< HEAD
>>>>>>> 71b5da4b29821cdcf62ed5021b9245bc3f2a3f69
=======
>>>>>>> 71b5da4b29821cdcf62ed5021b9245bc3f2a3f69
=======
>>>>>>> c0fb83d (tam xong user)
                    </ul>
                </li>
                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> c0fb83d (tam xong user)
                        Sản Phẩm Khác
                        <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                    </a>
                    <ul id="collapseThree" class="collapse list-unstyled pl-3">
                        <li><a class="text-decoration-none" href="#">Balo</a></li>
                        <li><a class="text-decoration-none" href="#">Túi</a></li>
                        <li><a class="text-decoration-none" href="#">Đồng Hồ</a></li>
<<<<<<< HEAD
=======
=======
>>>>>>> 71b5da4b29821cdcf62ed5021b9245bc3f2a3f69
                        Product
                        <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                    </a>
                    <ul id="collapseThree" class="collapse list-unstyled pl-3">
                        <li><a class="text-decoration-none" href="#">Bag</a></li>
                        <li><a class="text-decoration-none" href="#">Sweater</a></li>
                        <li><a class="text-decoration-none" href="#">Sunglass</a></li>
<<<<<<< HEAD
>>>>>>> 71b5da4b29821cdcf62ed5021b9245bc3f2a3f69
=======
>>>>>>> 71b5da4b29821cdcf62ed5021b9245bc3f2a3f69
=======
>>>>>>> c0fb83d (tam xong user)
                    </ul>
                </li>
            </ul>
        </div>

        <div class="col-lg-9">
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-inline shop-top-menu pb-3 pt-1">
                        <li class="list-inline-item">
                            <a class="h3 text-dark text-decoration-none mr-3" href="#">All</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="h3 text-dark text-decoration-none mr-3" href="#">Men's</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="h3 text-dark text-decoration-none" href="#">Women's</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 pb-4">
                    <div class="d-flex">
                        <select class="form-control">
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
                            <option>Tìm kiếm</option>
=======
                            <option>Featured</option>
>>>>>>> 71b5da4b29821cdcf62ed5021b9245bc3f2a3f69
=======
                            <option>Featured</option>
>>>>>>> 71b5da4b29821cdcf62ed5021b9245bc3f2a3f69
=======
                            <option>Tìm kiếm</option>
>>>>>>> c0fb83d (tam xong user)
                            <option>A to Z</option>
                            <option>Item</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-4 mb-4">
                        <div class="card rounded-0">
                            <img class="card-img rounded-0 img-fluid" 
                                 src="@Url.Content("~/uploads/" + item.HinhAnh)" 
                                 alt="@item.TenSanPham"
                                 style="width: 100%; height: 150px; object-fit: cover;" />
                            <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                <!-- Optional overlay content here -->
                            </div>
                        </div>
                        <div class="card-body">
                            <a href="@Url.Action("Details", "LoadSanPham", new { id = item.ID })" class="h3 text-decoration-none">
                                @item.TenSanPham
                            </a>

                            <p class="text-center mb-0">@item.DonGia.ToString("N0") đ</p>

                            <div class="button-group">
                                <a class="btn btn-success text-white" href="shop-single.html"><i class="far fa-heart"></i></a>
                                <a class="btn btn-success text-white" asp-area="" asp-controller="ChiTietSanPham" asp-action="Index" asp-route-id="@item.ID"><i class="far fa-eye"></i></a>
                                <a class="btn btn-success text-white" href="shop-single.html"><i class="fas fa-cart-plus"></i></a>
                            </div>
                        </div>
                    </div>
                }
            </div>

            <div class="row">
                <ul class="pagination pagination-lg justify-content-end">
                    <li class="page-item disabled">
                        <a class="page-link active rounded-0 mr-3 shadow-sm border-top-0 border-left-0" href="#" tabindex="-1">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" href="#">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link rounded-0 shadow-sm border-top-0 border-left-0 text-dark" href="#">3</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>
<!-- End Content -->
